<select name="<@ field.param_name @>"<@ IF field.multiple @> multiple="multiple"<@ END @><@ IF field.has_size @> size="<@ field.size @>"<@ END @>>
	<@ FOR option IN field.options @>
		<option value="<@ option.output_value @>"<@ IF field.output_value == option.output_value @> selected="selected"<@ END @>>
			<@ option.label | html @>
		</option>
	<@ END @>
</select>

