<form name="form_<@ form.name @>" id="form_<@ form.id @>" action="<@ form.action @>" method="<@ form.method || 'POST' @>"<@ IF form.has_enctype @> enctype="<@ form.enctype @>"<@ END @><@ IF form.has_class @> class="<@ form.class @>"<@ END @><@ IF form.has_style @> style="<@ form.style @>"<@ END @>>
	<@ PROCESS form/base.tt @>
</form>